<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Butcherman&family=Caveat&family=DM+Sans:opsz@9..40&family=Kalam:wght@300&family=Lato:wght@700;900&family=Libre+Baskerville&family=Madimi+One&family=Montserrat:wght@400;600;700&family=Nosifer&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>User</title>
</head>
<body>

  <div class="section">
    <%- include(`partials/header.ejs`) %>

    <div class="information_section">
      <div class="your_information"> Your Information: </div>
      <% let first_iteration = true %>
      <% result.images.forEach((images) => { %>
        <% if (first_iteration){ %>
          <img class="user_image" src="<%= images.url %>" alt="users image">
          <% first_iteration = false %>
        <% } %>
      <% }) %>
      <div class="information_content">
        <div class="items"> Profile name: <%= result.display_name  %> </div>
        <div class="items"> followers: <%= result.followers.total  %></div>
        <div class="items"> ID: <%= result.id %></div>
        <div class="items"> Uri: <%= result.uri  %></div>
        
      </div>
    </div>
  </div>
  
</body>
</html>